# MONGO
MONGODB_URI=mongodb://localhost:27017/trademaster

# TELEGRAM
TELEGRAM_BOT_TOKEN=
TELEGRAM_CONCURRENT_REQUESTS=
TELEGRAM_MESSAGE_DELAY=

# LISTENER & CRON
PRICE_UPDATE_SCHEDULE=
CRON_TIMEZONe=
MAX_BATCH_SIZE=
API_DELAY=