# DB
MONGODB_URI=

# TELEGRAM BOT
TELEGRAM_BOT_TOKEN=
TELEGRAM_CONCURRENT_REQUESTS=
TELEGRAM_MESSAGE_DELAY=

# LISTENER & CRON
PRICE_UPDATE_SCHEDULE=
CRON_TIMEZONe=
MAX_BATCH_SIZE=
API_DELAY=

# ROGER
X_ALPHA_API_KEY=
API_BASE_URL=
X_ALPHA_AUTH_TOKEN=
